#about-me {
    padding: 0;
    background-color: #07080a;
}
#about-me {
    height: 100vh;
}
#topabout{
    padding-bottom: -70px;
    margin-bottom: 0px;
}
#name {
    font-size: 4rem;
    padding: 0px;
}
#period{
    color: #f4a261;
    padding: 0px;
}
#location {
    color: #f4a261;
    text-decoration: none;
}
#location:hover {
    color: #e76f51;
}
#metrolinx {
    color: white;
    text-decoration: none;
}
#metrolinx:hover {
    color: #e76f51;
}
#kinectrics {
    color: #f4a261;
    text-decoration: none;
}
#kinectrics:hover {
    color: #e76f51;
}
#resume {
    color: #f4a261;
    text-decoration: none;
}
#resume:hover {
    color: #e76f51;
}
#github{
    font-size: 1.5rem;
    padding-right: 0.3rem;
    color: white;
}
#github:hover{
    color: #e76f51
}
#linkedin{
    font-size: 1.5rem;
    color: white;
}
#linkedin:hover{
    color: #e76f51
}
#projects {
    background-color: black;
    padding-bottom: 2.5rem;
}
#projecttitle {
    color: #2a9d8f;
    padding-top: 0.5rem;
}
#projectdescription {
    color: white;
}
#footer {
    height: 3rem;
    background-color: #07080a
}