body {
	font-family: 'Arimo', sans-serif;
}

#about-me {
	padding: 0;
	background-color: #07080a;
}
#about-me {
	height: 100vh;
}
#topabout {
	padding-bottom: -70px;
	margin-bottom: 0px;
}
#name {
	font-size: 4rem;
	padding: 0px;
}
#period {
	color: #14e114;
	padding: 0px;
}
#location {
	color: #14e114;
	text-decoration: none;
}
#location:hover {
	color: #009534;
}
#varicent {
	color: #14e114;
	text-decoration: none;
}
#varicent:hover {
	color: #009534;
}
#metrolinx {
	color: #14e114;
	text-decoration: none;
}
#metrolinx:hover {
	color: #009534;
}
#kinectrics {
	color: #14e114;
	text-decoration: none;
}
#kinectrics:hover {
	color: #009534;
}
#resume {
	color: #14e114;
	text-decoration: none;
}
#resume:hover {
	color: #009534;
}
#github {
	font-size: 1.5rem;
	padding-right: 0.3rem;
	color: white;
}
#github:hover {
	color: #009534;
}
#linkedin {
	font-size: 1.5rem;
	color: white;
}
#linkedin:hover {
	color: #009534;
}
#projects {
	background-color: #000000;
	padding-bottom: 2.5rem;
}
#projecttitle {
	color: #04b16f;
	padding-top: 0.5rem;
}
#projectdescription {
	color: white;
}
.card {
	background-color: #07080a;
	border-radius: 3%;
}
.card-title {
	color: #04b16f;
	padding-bottom: 1rem;
}
.card-text {
	color: white;
	padding-bottom: 1rem;
}
.card-stack {
	color: white;
	display: inline-block;
}
#githubcard {
	font-size: 1.5rem;
	color: white;
	float: right;
}
#githubcard:hover {
	color: #04b16f;
}
#footer {
	height: 3rem;
	background-color: #07080a;
}
