#about-me {
    padding: 0;
    background-color: #07080a;
}
.navbar-nav > li{
    margin:20px;
  }
#about-me {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}
#github{
    font-size: 1.5rem;
    padding-right: 10px;
}
#linkedin{
    font-size: 1.5rem;
}